
/*購物車*/
.cart {
  width: 100%;
  height: auto;
  padding: 42px 0;
  box-sizing: border-box;
  background-color: #efe9e7;
  color: #3d1101;
}
.cart-row {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
/*線上訂購美食*/
.cart-online {
  width: 180px;
  margin-right: 20px;
}
.cart-online-title {
  font-size: 1.25rem;
  font-weight: bold;
}
.cart-online ul {
  margin-top: 16px;
}
.cart-online ul li {
  height: 35px;
  line-height: 35px;
  border-bottom: 1px solid #3d1101;
  cursor: pointer;
}
.cart-online ul li:hover {
  background-color: #3d1101;
  color: white;
}
.cart-online ul li:last-child {
  background-color: #3d1101;
  color: white;
}
/*菜單*/
.cart-menu {
  flex: 1;
  height: auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.cart-menu-card {
  width: 30%;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.438);
  margin-bottom: 30px;
}

.mobile-img {
  display: none;
}
.pc-img {
  display: block;
}
.menu-card-img {
  width: 100%;
  height: auto;
}
.menu-card-description {
  width: 100%;
  text-align: center;
  margin-top: 10px;
}
.menu-card-description hr {
  width: 80px;
  border: 1px solid #3d1101;
}
.card-description-title {
  font-size: 1.25rem;
  margin-top: 10px;
}
.card-description-entitle {
  font-size: 0.75rem;
  margin-top: 8px;
}
.card-description-price {
  font-size: 1.25rem;
  font-weight: bold;
}
.menu-card-add {
  width: 100%;
  /* height: 40px;
  line-height: 40px; */
  text-align: center;
  margin-top: 10px;
  border: 2px solid #ff5e45;
  color: #ff5e45;
}
.menu-card-add:hover {
  background-color: #ff5e45;
  color: white;
}
.menu-card-add:focus {
  box-shadow: none;
}


@media (max-width: 768px) {
  /*菜單*/
  .cart-menu-card {
    width: 45%;
  }
}
@media (max-width: 767px) {
  
  /*線上訂購美食*/
  .cart-online {
    width: 100%;
    margin-right: 0;
  }
  /*菜單*/
  .cart-menu-card {
    width: 100%;
    margin-top: 20px;
  }

  .mobile-img {
    display: block;
  }
  .pc-img {
    display: none;
  }

  
}
