html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  font-family: Microsoft JhengHei;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a {
  text-decoration: none;
  color: white !important;
}
a:hover {
  text-decoration: none;
}
.aside {
  display: none;
}
.wrap {
  width: 100%;
  height: 0 auto;
}
.container {
  max-width: 1024px;
  height: auto;
  margin: 0 auto;
  position: relative;
}
.header {
  width: 100%;
  height: 45px;
  background-color: #000000b7;
  position: sticky;
  top: 0;
  z-index: 5;
}
.show-hambur {
  display: none;
}
.logo-menu {
  width: 100%;
  height: 45px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 0 30px; 
  box-sizing: border-box;*/
}
.content {
  width: 100%;
}
.footer {
  width: 100%;
  height: auto;
  background-color: #efe9e7;
  color: #3d1101;
}
.logo {
  width: 120px;
  height: 24px;
  background-image: url(../web/assets/logo_w@svg.svg);
  background-size: 100% 100%;
}
.logo h1 {
  text-indent: 101%;
  overflow: hidden;
  white-space: nowrap;
}
.menu {
  display: flex;
}
.menu li a {
  margin-left: 20px;
  color: white;
}
.menu li a:hover {
  text-decoration: none;
  color: rgb(252, 245, 143);
}
.menu li a i {
  font-size: 1rem;
}
.banner {
  width: 100%;
  height: 420px;
  background-color: black;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url(../web/assets/header_desktop.png);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  box-sizing: border-box;
}
.banner-title-row {
  width: 460px;
  height: 152px;
  background-color: rgba(0, 0, 0, 0.35);
  color: white;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
}
.mobile-banner-title {
  display: none;
}
.banner-title {
  width: 100%;
  padding-top: 20px;
  font-size: 2.25rem;
}
.banner-subhead {
  width: 100%;
  line-height: 25px;
}
/* 登入 */
.login {
  width: 100%;
  height: auto;
  padding: 50px 0;
  box-sizing: border-box;
  background-color: #fafafa;
  color: #3d1101;
}
.login-row {
  margin-top: 38px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.login-subhead {
  width: 100%;
  margin-top: 10px;
  font-size: 1.25rem;
  text-align: center;
  font-weight: bold;
}
.login-form {
  width: 40%;
  margin: 0 auto;
  margin-top: 35px;
  border-top: 4px solid #ff5e45;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.438);
  padding: 15px;
}
.login-title {
  width: 100%;
  text-align: center;
  font-weight: bold;
}
.form {
  position: relative;
}
.form a {
  color: #ff5e45 !important;
}
.form a:hover {
  opacity: 0.6;
}
.form-btn {
  width: 100%;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}
.registered-btn {
  width: 45%;
  background-color: #555555;
  color: white;
}
.registered-btn:hover {
  color: white;
  opacity: 0.8;
}
.login-btn {
  width: 45%;
  background-color: #f56c23;
  color: white;
}
.login-btn:hover {
  color: white;
  opacity: 0.8;
}
/* 關於六腳西餐廳 */
.about-restaurant {
  width: 100%;
  padding: 50px 0;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.about {
  width: 35%;
}
.about-title {
  font-size: 1.5rem;
  margin-bottom: 16px;
  font-weight: bold;
}
.contact {
  width: 25%;
}
.contact-title {
  font-size: 1.5rem;
  margin-bottom: 16px;
  font-weight: bold;
}
.contact ul {
  list-style: disc;
  margin-left: 20px;
}
.contact ul li {
  margin-bottom: 5px;
}
.restaurant {
  width: 30%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-content: space-between;
}
.restaurant-icon img {
  width: 31px;
}

@media (max-width: 767px) {
  /*側選單*/
  .content {
    transition: all 0.5s;
  }
  .aside {
    position: fixed;
    top: 0;
    left: 0;
    width: 150px;
    height: 100%;
    display: block;
    transform: translateX(-150px);
    transition: all 0.5s;
    background-color: #737272;
    padding: 10px 15px 10px;
    box-sizing: border-box;
    z-index: 10;
  }
  .mobile-close {
    font-size: 1.5em !important;
    position: absolute;
    right: 15px;
    color: white;
  }
  .aside-menu {
    margin-top: 40px;
  }
  .aside-menu li {
    height: 45px;
    line-height: 45px;
  }
  .aside-menu li:hover {
    background-color: rgba(231, 67, 67, 0.788);
  }
  .aside-menu li a {
    color: white;
  }
  /*開啟aside */
  .open .aside {
    transform: translateX(0px);
    transition: all 0.5s;
  }
  /* .open .content {
    transform: translateX(150px);
    transition: all 0.5s;
  } */
  .menu {
    display: none;
  }
  .show-hambur {
    display: block;
  }
  .banner {
    background-image: url(../web/assets/Bitmap.png);
  }
  .banner-title-row {
    width: 100%;
  }
  .banner-title {
    display: none;
  }
  .mobile-banner-title {
    width: 100%;
    display: block;
    padding-top: 20px;
    font-size: 2.25rem;
  }
  /* 登入 */
  .login-row img {
    width: 243px;
  }

  .login-form {
    width: 80%;
    margin: 0 auto;
    margin-top: 35px;
    border-top: 4px solid #ff5e45;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.438);
    padding: 15px;
  }
  /* 關於六腳西餐廳 */
  .about-restaurant {
  }
  .about {
    width: 100%;
  }
  .contact {
    width: 100%;
    margin-top: 20px;
  }
  .restaurant {
    width: 100%;
    margin-top: 20px;
  }
  .restaurant-icon {
    width: 100%;
    margin-top: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
  }
  .restaurant-icon img {
    margin-left: 10px;
  }
}
